@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    height: 100vh;
    background-color: hsl(204, 43%, 93%); 
    font-family: "Karla", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

main {
    width: 640px;
    border-radius: 8px;
    background-color: white;
    margin-left: 170px;
    margin-right: 170px;
}

.section1 {
    background-color: white;
    padding: 40px;
}

.h11 {
    color: hsl(179, 62%, 43%); 
    margin-bottom: 24px;
    font-size: 24px;
}

.h21 {
    color: hsl(71, 73%, 54%);
    margin-bottom: 16px;
    font-size: 18px;
}

.p1 {
    color: hsl(218, 22%, 67%);
    line-height: 26px;
}

.section2 {
    display: flex;
}

.div2 {
    background-color: hsl(179, 62%, 43%); 
    padding: 40px;
    flex: 1;

}

.h31, .h32 {
    color: white;
    margin-bottom: 18px;
    font-size: 18px;
}

.div3 {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 10px;
}

.p2 {
    color: white;
    font-size: 32px;
    font-weight: 700;
}

.p3 {
    color: rgb(243, 235, 235);
}

.p4 {
    color: white;
    margin-bottom: 26px;
}

.button1 {
    width: 100%;
    padding: 15px;
    background-color: hsl(71, 73%, 54%); 
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    cursor: pointer;
}

.div4 {
    background-color: hsl(178, 61%, 35%); 
    padding: 40px;
    flex: 1;
}

.ul1 {
    list-style: none;
}

.ul1 li {
    color: rgb(243, 235, 235);
    margin-bottom: 4px;
    font-size: 14px;
}