.parent{
    width: 1000px;
    height: 1000px;
    border: 5px solid red;
    display: flex;
}

#child{
    background-color: purple;
    width: 150px;
    height: 50px;
}

.c1:hover{
    flex: 300px;
}

.c2:hover{
    flex: 300px;
}

.c3:hover{
    flex: 300px;
}