@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    background-color: rgb(236, 242, 255);
    height: 100vh;
    font-family: "Hanken Grotesk", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.parent{
    background-color: white;
    width: 450px;
}

.parent1{
    width: 45%;
    background-color: hsla(256, 72%, 46%, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.p1{
    margin-top: 15px;
}