#n1{
    background-color: blue;
    padding: 10%;
}


#n2{
    background-color: rgb(255, 64, 0);
    padding: 20%;
}


#n3{
    background-color: rgb(0, 255, 68);
    padding: 50px;
}

#n4{
    background-color: rgb(255, 0, 200);
    padding: 150px;
}

#n5{
    background-color: rgb(242, 255, 0);
    padding: 100px;
}