.k1{
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: nowrap;
    border: 5px solid black;
}

#d1{
    width: 120px;
    height: 120px;
    background-color: purple;
    border: 3px solid green;
}