* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.k1{
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    border: 5px solid black;
}

#d1{
    width: 120px;
    background-color: purple;
    border: 3px solid green;
}