table{
    border-collapse: collapse;
}


#d1{
    background-color: yellow;
    color: rgb(32, 32, 112);
}

#d2{
    background-color: rgb(249, 164, 7);
    color: rgb(32, 32, 112);
}

#d3{
    background-color: rgb(67, 220, 53);
    color: rgb(32, 32, 112);
}

#d4{
    background-color: rgb(249, 181, 54);
    font-weight: 600;
    color: black;
}


#d5{
    background-color: rgb(247, 91, 91);
    font-weight: 600;
    color: black;
}

#d6{
    background-color: rgb(249, 181, 54);
    font-weight: 600;
    color: black;
}

#d7{
    background-color: red;
    font-weight: 600;
    color: black;
}


#d8{
    background-color: rgb(221, 221, 221);
    font-weight: 600;
    color: black;
}


#d9{
    background-color: rgb(28, 202, 202);
    font-weight: 600;
    color: black;
}


#d10{
    background-color: rgb(249, 181, 54);
    font-weight: 600;
    color: black;
}


#d11{
    background-color: rgb(108, 152, 133);
    font-weight: 600;
    color: black;
}


#d12{
    background-color: rgb(249, 181, 54);
    font-weight: 600;
    color: black;
}

#d13{
    background-color: gray;
    font-weight: 600;
    color: black;
}

#d14{
    background-color: rgb(108, 35, 35);
    font-weight: 600;
    color: black;
}

#d15{
    background-color: rgb(215, 163, 66);
    font-weight: 600;
    color: black;
}