*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parent{
    background-color: red;
    width: 600px;
    height: 600px;
}

@media (max-width:1000px) {
    .parent{
        background-color: green;
        width: 500px;
        border-radius: 10px;
    }
}

@media (max-width:600px) {
    .parent{
        background-color: blue;
        width: 400px;
        border-radius: 30px;
    }
}

@media (max-width:400px) {
    .parent{
        background-color: pink;
        width: 300px;
        border-radius: 50%;
    }
}