body {
    background-color: #0b0b0b;
    color: white;
}


header {
    text-align: center;
    padding: 160px 0;
    border-bottom: 1px solid #333;
}

.h1 {
    font-size: 110px;
}


.section1 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 160px 10%;
}

.image1 {
    width: 48%;
    border-radius: 18px;
}

.div1 {
    width: 48%;
}

.h2 {
    font-size: 60px;
}

.p1 {
    color: #bbb;
    font-size: 26px;
    line-height: 2.0;
}


.section2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 160px 10%;
}

.image2 {
    width: 48%;
    border-radius: 18px;
}

.div2 {
    width: 48%;
}

.h3 {
    font-size: 60px;
}

.p2 {
    color: #bbb;
    font-size: 26px;
    line-height: 2.0;
}


.section3 {
    padding: 160px 10%;
}

.h4 {
    font-size: 60px;
    text-align: center;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th,.table td {
    border: 1px solid #444;
    padding: 14px;
    text-align: left;
}

.table th {
    background-color: #111;
}


footer {
    text-align: center;
    border-top: 1px solid #333;
    color: #777;
    padding: 45px 0;
    font-size: 18px;
}
