body {
    background-color: #0b0b0b;
    color: white;
}

.header {
    text-align: center;
    padding: 40px 0;
    border-bottom: 1px solid #333;
}

.header h1 {
    font-size: 48px;
}

.header p {
    color: #aaa;
}

.contact-main {
    display: flex;
    justify-content: space-between;
    padding: 60px 10%;
}

.contact-div {
    width: 45%;
}

.contact-div h2 {
    font-size: 32px;
}

.contact-div p {
    color: #bbb;

}

.contact-div ul li {
    margin-bottom: 10px;
}


.contact-form {
    width: 45%;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form input, .contact-form textarea {
    margin-bottom: 15px;
    padding: 12px;
    background-color: #111;
    border: 1px solid #333;
    color: white;
}

.contact-form textarea {
    height: 120px;
    resize: none;
}

.contact-form button {
    padding: 15px;
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.contact-form button:hover {
    background-color: #ccc;
}

.footer {
    text-align: center;
    border-top: 1px solid #333;
    color: #777;
}
