body {
    background-color: #0b0b0b;
    color: white;
}

header {
    text-align: center;
    padding: 40px 0;
    border-bottom: 1px solid #333;
}

header h1 {
    font-size: 48px;
}

header p {
    color: #aaa;
}

main {
    display: flex;
    justify-content: space-between;
    padding: 60px 10%;
}

.div1 {
    width: 45%;
}

.div1 h2 {
    font-size: 32px;
}

.div1 p {
    color: #bbb;

}

.div1 ul li {
    margin-bottom: 10px;
}


.div2 {
    width: 45%;
}

.div2 form {
    display: flex;
    flex-direction: column;
}

.div2 input, .div2 textarea {
    margin-bottom: 15px;
    padding: 12px;
    background-color: #111;
    border: 1px solid #333;
    color: white;
}

.div2 textarea {
    height: 120px;
    resize: none;
}

.div2 button {
    padding: 15px;
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.div2 button:hover {
    background-color: #ccc;
}

footer {
    text-align: center;
    border-top: 1px solid #333;
    color: #777;
}
