*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 90px;
}

.parent{
    width: 100px;
    height: 100px;
    background-color: brown;
}


.parent:hover{
    transform: scale(0.5) rotate(40) translateX(-50px);
    transform-origin: bottom left;
}