

main div{
    font-size: 36px;
    color: green;
    background-color: red;
    border: 8px solid brown;
}

header div{
    font-size: 27px;
    color: yellow;
    background-color: pink;
    border: 5px solid black;
}