@import url('https://fonts.googleapis.com/css2?family=Betania+Patmos+In&family=Bitcount+Grid+Double:wght@100..900&display=swap');


html{
    background-color: green; 
    text-align: center; 
    font-size: large;
}



h1{
    font-family: "Bitcount Grid Double", system-ui;
}


p{
    font-family: "Betania Patmos In", cursive;
}
