@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');


html{
    text-align: center;
    background-color: green;
    font-size: large;
}


.c1{
    font-family: "Bungee", sans-serif;
}


.c2{
    font-family: "Merriweather", serif;
    font-size: 18px;
}

.p1{
    font-family: "Bungee", sans-serif;
    text-align: right;
}