/* დავალება1 */

#name1{
    color: red;
    text-align: center;
}

#name2{
    color: yellow;
    text-align: right;
}

#name3{
    color: rgb(89, 21, 189);
    text-align: left;
}

#name4{
    color: rgb(42, 33, 209);
    text-align: center;
}

#name5{
    color: rgb(255, 15, 159);
    text-align: right;
}

/* დავალება 2 */


#div1 #italic1{
    color: red;
    text-align: center;
}

#div2 #italic2{
    color: rgb(69, 27, 175);
    text-align: right;
}

#div3 #italic3{
    color: rgba(8, 238, 192, 0);
    text-align: left;
}