/* დავალება 4 */


h1{
    text-align: center;
    font-size: 65px;
    background-color: black;
    color: red;
    border: 5px solid red;
}

nav{
    text-align:  center;
    font-size: 40px;
}

p{
    text-align: center;
    font-size: 45px;
    background-color: black;
    color: red;
    border: 5px solid red;
}

footer{
    text-align: center;
    color: red;
    font-size: 30px;
    background-color: black;
}