@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Inter", sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 30px 132px;
}

.headerdiv{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.headerdiv div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

header img{
    width: 140px;
}   

header button{
    color: white;
    background-color: #4CAF4F;
    border: none;
    padding: 15px 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 5px;
    font-size: 13px;
}

button img{
    width: 15px;
}


.burgermenu{
    display: none;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}


.section1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F5F7FA;
    width: 100%;
    padding: 70px 132px;
}


.imgdiv1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}


.txtdiv h1{
    font-size: 55px;
    width: 70%;
    color: #4D4D4D;
}

.txtdiv span{
    color: #4CAF4F;
}

.txtdiv p{
    color: #717171;
    font-size: 14px;
}

.txtdiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 35px;
}

.txtdiv2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 15px;
}

.illu{
    width:85%;
}

.txtdiv button{
    background-color: #4CAF4F;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
}

.dot{
    width: 40px;
    position: relative;
    top: 55px;
    right: 85px;
}


.section2{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0px;
    gap: 20px;
}

.txtdiv3{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.txtdiv3 h1{
    font-weight: 600;
    color: #717171;
    font-size: 30px;
}

.txtdiv3 p{
    color: #717171;
    font-size: 13px;
}

.griddiv{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;
}


.griddiv img{
    width: 50px;
    margin: 0px 20px;
}

.section3{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 50px;
    
}

.txtdiv4{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.txtdiv4 h1{
    color: #4D4D4D;
    font-size: 30px;
    width: 450px;
}

.txtdiv4 p{
    color: #717171;
    font-weight: 400;
    font-size: 15px;
}

.imgdiv2{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.samediv{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.samediv img{
    width: 65px;
}

.samediv h1{
    color: #4D4D4D;
    font-size: 32px;
    width: 60%;
}

.samediv p{
    color: #717171;
    font-size: 15px;
    width: 60%;
}


.section4{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 100px;
    gap: 100px;
}

.s4img{
    width: 37%;
}

.txtdiv5{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 25px;
}

.txtdiv5 h1{
    color: #4D4D4D;
    width: 500px;
}


.txtdiv5 p{
    color: #717171;
    font-size: 15px;
    width: 87%;
}

.txtdiv5 button{
    background-color: #4CAF4F;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
}


.section5{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #F5F7FA;
    padding: 50px 95px;
}


.imgdv1{
    display: grid;
    grid-template-columns: 220px 220px;
    grid-template-rows: 100px 100px;
    align-items: center;
    justify-content: center;
}

.txtdiv6{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.txtdiv6 h1{
    color: #4D4D4D;
    font-size: 36px;
}

.txtdiv6 span{
    color: #4CAF4F;
}

.txtdiv6 p{
    font-weight: 400;
    font-size: 15px;
}

.samedivv{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.samedivv img{
    width: 35px;
}

.samedivv h1{
    font-size: 22px;
    color: #4D4D4D;
    width: 120px;
}

.samedivv p{
    font-size: 15px;
    color: #717171;
}

.diffs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 3px;
}

#imgsa{
    width: 55px;
}


.section6{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 100px;
}

.section6 img{
    width: 36%;
}

.panadiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 25px;
    width: 55%;
}

.panadiv h1{
    color: #4D4D4D;
    font-size: 30px;
    width: 70%;
}

.panadiv p{
    color: #717171;
    font-size: 14px;
    width: 83%;
    line-height: 1.4;
}

.panadiv button{
    background-color: #4CAF4F;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
}

.section7{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
    background-color: #F5F7FA;
    gap: 20px;
}

.dragondiv{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 60%;
    gap: 20px;
}

.dragondiv p{
    font-size: 16px;
    color: #717171;
    line-height: 1.5;
    width: 92.5%;
}

.dragondiv h3{
    color: #4CAF4F;
    font-weight: 600;
    font-size: 22px;
}

.dragondiv h4{
    font-size: 16px;
    color: #89939E;
    font-weight: 400;
}

.child1{
    margin-top: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 35px;
    flex-wrap: wrap;
}

.child1 img{
    width: 50px;
}

.customer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.customer h1{
    font-size: 22px;
    font-weight: 600;
    color: #4CAF4F;
}

.customer img{
    width: 25px;
}

.tesla{
    width: 400px;
    height: 400px;
}




@media (max-width:1020px){
    header{
        padding: 30px 40px;
    }

    .section1{
        padding: 70px 40px;
    }

    .txtdiv2 h1{
        font-size: 40px;
        width: 90%;
    }

    .section3{
        padding: 50px 0px 50px 0px;
    }

    .samediv p{
        width: 80%;
    }

    .samediv h1{
        font-size: 24px;
    }

    .txtdiv5 h1{
        font-size: 27px;
        width: 85%;
    }

    .txtdiv5 p{
        font-size: 13px;
        width: 95%;
    }

    .s4img{
        width: 300px;
    }

    .section4{
        padding: 50px 20px;
    }


    .section5{
        flex-direction: column;
    }

    .txtdiv6{
        align-items: center;
        text-align: center;
    }

    .section5{
        gap: 20px;
    }

    .section6{
        padding: 100px 30px;
    }

    .section6 img{
        width: 350px;
    }

    .panadiv h1{
        width: 80%;
    }


    .panadiv p{
        width: 90%;
    }

    .section7{
        padding: 20px 20px;
        gap: 20px;
    }

    .dragondiv p{
        width: 100%;
    }

    .tesla{
        width: 300px;
        height: 300px;
    }

    .dragondiv{
        width: 65%;
    }
}


@media (max-width:850px){
    header{
        padding: 30px 20px;
    }
    
    .section1{
        flex-direction: column;
        text-align: center;
        gap: 50px;
    }

    .txtdiv , .txtdiv2{
        align-items: center;
    }

    .dot{
        right: 0;
    }

    .section3{
        gap: 50px;
    }

    .imgdiv2{
        flex-direction: column;
    }

    .section4{
        flex-direction: column;
        gap: 10px;
    }

    .txtdiv5{
        align-items: center;
        text-align: center;
    }

    .s4img{
        width: 60%;
    }

    .section6{
        flex-direction: column;
        padding: 100px 0px;
    }

    .panadiv{
        align-items: center;
        text-align: center;
        width: 75%;
    }

    .panadiv p{
        width: 90%;
    }

    .section7{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .dragondiv{
        align-items: center;
        text-align: center;
        width: 95%;
    }

    .child1{
        justify-content: center;
    }


}


@media (max-width:800px){
    .text1{
        display: none;
    }

    .burgermenu{
        display: block;
        width: 26px;
    }

    .txtdiv2 h1{
        font-size: 35px;
        width: 65%;
    }

    .txtdiv2 p{
        font-size: 13px;
        width: 90%;
    }

    .txtdiv3 h1{
        font-size: 26px;
    }


    .txtdiv4 h1{
        font-size: 26px;
        width: 70%;
    }

    .section2{
        gap: 50px;
    }

    .txtdiv5 h1{
        font-size: 22px;
    }

    .txtdiv5 p{
        width: 80%;
        font-size: 12px;
    }


    .txtdiv6 h1{
        font-size: 28px;
        width: 95%;
    }

    .txtdiv6 p{
        font-size: 14px;
    }

    .diffs h1{
        font-size: 20px;
    }

    .diffs p{
        font-size: 12px;
    }


    .samedivv img{
        width: 25px;
    }

    #imgsa{
        width: 45px;
    }

    .imgdv1{
        grid-template-columns: 170px 170px;
    }

    .section5{
        padding: 50px 35px;
    }

    .panadiv p{
        width: 95%;
    }


    .griddiv{
        gap: 50px;
    }

    .dragondiv p{
        font-size: 13px;
    }
}

@media (max-width:430px){
    .headerdiv button{
        padding: 10px 25px;
    }

    .headerimg{
        width: 120px;
    }

    .burgermenu{
        display: block;
        width: 22px;
    }

    .txtdiv2 h1{
        font-size: 30px;
        width: 80%;
    }

    .s4img{
        width: 90%;
    }

    .imgdv1{
        grid-template-columns: 320px;
        grid-template-rows: 80px 80px 80px 80px;
    }

    .txtdiv6 h1{
        font-size: 23px;
    }

    .section6 img{
        width: 260px;
    }

    .panadiv h1{
        font-size: 25px;
    }

    .panadiv p{
        font-size: 13px;
    }

    .panadiv{
        width: 95%;
    }


    .tesla{
        width: 250px;
        height: 250px;
    }

    .child1 img{
        width: 50px;
    }

    #arrow{
        width: 25px;
    }
}