


div ul li{
    color: red;
    font-size: 35px;
    border: green;
    background-color: blue;
}

nav ul li{
    color: brown;
    font-size: 50px;
    border: purple;
    background-color: yellow;
}