/* დავალება 4 */

#BMW{
    background-color: black;
    height: 20%;
    width: 90%;
    color: rgb(255, 0, 0);
}

#FERR{
    background-color: black;
    height: 90%;
    width: 40%;
    color: rgb(0, 255, 0);
}

#dodge{
    background-color: black;
    height: 20%;
    width: 10%;
    color: rgb(0, 0, 255);
}