/* დავალება 7 */


.div1{
    background-color: blue;
    height: 40%;
    width: 90%;
    color: #FF0000;
}

.div2{
    background-color: pink;
    height: 20%;
    width: 50%;
    color: #00FF00;
}

.div3{
    background-color: green;
    height: 90%;
    width: 20%;
    color: #0000FF;
}